html, body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 360px;
}

#registrar{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#adicionar{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.fazer{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}